export("ecoval.translate")
export("ecoval.dict")

export("msk.hydrol.2011.aggregate")
export("msk.morphol.1998.aggregate")

export("msk.morphol.1998.create")
export("msk.hydrol.2011.create")
export("msk.physapp.2007.create")
export("msk.nutrients.2010.create")
export("msk.diatoms.2007.create")
export("msk.invertebrates.2010.create")
export("msk.fish.2004.create")
export("msk.macrophytes.2017.create")
export("msk.macrophytes.2017.addminbonusmalus")
export("msk.macrophytes.2017.read.compile.evaluate")
export("msk.macrophytes.2017.calc.types")
export("msk.macrophytes.2017.doc.site")
export("msk.macrophytes.2017.doc.typology")
export("msk.macrophytes.2017.doc.vegetation")
export("msk.macrophytes.2017.doc.valuation")
export("msk.macrophytes.2017.plot.typedef")
export("msk.macrophytes.2017.plot.types.scheme")
export("msk.macrophytes.2017.plot.types.grfo")
export("msk.macrophytes.2017.plot.hierarchy")

export("val.pesticides.create")
export("val.micropoll.create")
export("val.heavymetals.create")
export("val.spear.create")
export("val.invertebrates.create")

export("msk.create")
export("ecoval.river.create")

export("lake.morphol.2016.create")
export("lake.morphol.2016.read.attrib")
export("lake.morphol.2016.plot.val.spatial")
export("lake.morphol.2016.aggregate.val.spatial")

export("ecoval.plotsymbols")

import(utility)
import(rivernet)
import(jpeg)

importFrom("utils",
           "read.table","write.table","read.csv")
importFrom("graphics",
           "plot","lines","points","abline","polygon","text","arrows",
           "layout","par","rasterImage","rect","xinch","yinch",
           "barplot")
importFrom("stats",
           "approx", "na.omit",
           "dunif","runif",
           "dnorm","pnorm","qnorm","rnorm",
           "dlnorm","plnorm","qlnorm","rlnorm",
           "spline",
           "aggregate")
importFrom("grDevices",
           "grey","pdf","dev.off","rgb")
